*{padding: 0;
margin: 0;}
#d6{width: 100%;
height: 100px;
background-color: gray;}
#d1{display: flex;align-items: center;height: 100%;justify-content: center;width: 100%;}

#d2{padding-right: 20px;color: yellow;font-size: 40px;}
#d3{padding-right: 20px;color: red;font-size: 40px;}
#d4{padding-right: 20px;color: black;font-size: 40px;}

#d5{width:100%;height:900px;background-image: url("green.jpg");background-repeat: no-repeat;background-size: cover;background-position: center
    ;position: relative;}
    #d7{position:absolute;width: 1000px;height: 500px;top: 50%;left: 50%;transform: translate(-50%,-50%);
        background-color:rgb(66, 134, 102,0.5);display: flex;align-items: center;justify-content: center;}
        #h1{color: rgb(174, 243, 64);font-size: 100px;}
        #d8{width: 100%;height: auto;display: flex;justify-content: space-evenly;margin-top: 20px;}
        .c1{background-color: gray;width: 300px;height: 500px;border-radius: 30px;margin-bottom: 100px;transition: all 0.4s;}
        .c2{width: 100%;height: 100px;}
        .c3{width: 100%;height: auto;object-fit: cover;border-radius: 30px;}
        .c6{text-align: center;margin-top: 20px;}
.d10{text-align: center;margin-top: 300px;color: rgb(64, 71, 64);}
.c1:hover{box-shadow: -10px 10px 5px rgb(68, 67, 67);cursor: pointer;margin-top: -10px;}
#d11{width: 100%;height: 50px;background-color: rgb(110, 112, 111);position: relative;}
#d15{display: flex;align-items: center;height: 100%;justify-content: space-evenly;width: 100%;text-align: center;position: absolute;}
.a3{font-size: 30px;color: rgb(61, 63, 62);}